/* main font */
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    justify-content: center;
}

.nav{
    height: 60px;
}

.nav-wrapper{
    max-width: 1024px;
    margin: auto;

}

.title{

}

.nav-button-wrapper{

}

.nav-button{

}

.wrapper{
    max-width: 1024px;
    margin: auto;
}

.main-slideshow{

}

.main-slideshow img{

}